html {
	overflow: -moz-scrollbars-vertical !important;
}

html, body {
	height: 100%;
}

body {
	background-color: white;
	font-family: helvetica, arial, sans-serif;
	font-size: 12pt;
	color: black;
	line-height: 1.05em;
	margin: 0px;
	padding: 0px;
}

#header {
	padding-bottom: 10px;
	padding-top: 10px;
	background-color: red;
	color: white;
	font-size: 25pt;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	height: 75px;
	vertical-align: middle;
}

#body {
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
	width: 800px;
}

#main_header {
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left:50px;
	padding-right:50px;
	background-color: white;
	color: black;
	font-size: 14pt;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
}

.box {
	!background-color: #b0b0b0;
	width: 45%;
	margin-left: 35px;
	margin-right: 35px;
	margin-bottom: 20px;
}

#deny_box {
	float: right;
}

#deny_form {
	margin:auto;
	width: 50%;
}

#deny_button {
	margin:auto;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

#accept_form {
	margin:auto;
	width: 80%;
}

#username {
	margin: auto;
	width: 90%;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

#password {
	margin: auto;
	width: 90%;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

#accept_button_container {
	margin:auto;
	width: 60%;
}

#accept_button {
	margin:auto;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

#footer {
	background-color: red;
	height: 60px;
	padding-top: 15px;
	overflow: hidden;
	color: white;
	font-size: 8pt;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
